/*CSS styles*/
*{
  font-family: Helvetica;
  margin: 0;
}

/*div.box{
  display:flex;
}*/

.dark-space{
  background-color: #1F2937;
  padding: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

.light-space{
  background-color: #ffffff;
  padding: 50px;
  padding-left: 100px;
  padding-right: 100px;
}

.container{
  display: flex;
}

.item{
  flex: 1;
}



/* Header styles */
p.logo{
  color: #F9FAF8;
  font-size: 24px;
}

a{
  color: #cbcfd5;
}



/* Section 1 styles */
div.section-one{
  height: 250px;
}

div.left p.main-text{
  font-size: 48px;
  font-weight: extra-bold;
  color: #F9FAF8
}

div.left p.secondary-text{
  font-size: 18px;
  color: #E5E7EB;
  padding-bottom: 15px;
}

button.signup{
  background-color: #3c82f6;
  border: none;
  color: #ffffff;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

div.right{
  background-color: #6d747d;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.right p.secondary-text{
  font-size: 18px;
  color: #E5E7EB;
  text-align: center;
}



/* Section 2 styles */
div.section-two{
  height: 250px;
}

div.section-two p.information{
  font-size: 36px;
  font-weight: extra-bold;
  color: #1F2937;
  text-align: center;
}

div.square-basket{
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-left: 300px;
  padding-right: 300px;
  gap: 8px;
}

div.square-bag{
  display: inline-block;
  /*outline: 1px solid red;*/
}

div.item div.square{
  height: 100px;
  width: 100px;
  border: #3882f6 solid;
  border-radius: 8px;
  border-width: 3px;
  position: relative;
  left: 20%;
  
}



p.img-subtext{
  text-align: center;
  /*padding-left: 30px;
  padding-right: 30px;*/
}


/* Footer styles */
div.footer p{
  color: #ececee;
  text-align: center;
}