/*CSS styles*/
*{
  font-family: Helvetica;
  margin: 0;
  box-sizing: border-box; /* Include padding and border in the element's total width */
}

div.box{
  margin: 0;
  width: 100%;

}

.dark-space{
  background-color: #1F2937;
  padding: 50px;
}

.light-space{
  background-color: #ffffff;
  padding: 50px;
}

.grey-space{
  background-color: #E5E7EB;
  padding: 50px;
}

.container{
  display: flex;
  flex-wrap: wrap; /* Allow flex items to wrap to a new line if necessary */
}

.item{
  flex: 1;
  min-width: 0; /* Allow items to shrink beyond their content width */
}



/* Header styles */
p.logo{
  color: #F9FAF8;
  font-size: 24px;
}

a{
  color: #cbcfd5;
}



/* Section 1 styles */
div.section-one{
  min-height: 250px; /* Use min-height to ensure the div always has a minimum height */
  display: flex; /* Display the items in a row */
  flex-wrap: wrap; /* Allow items to wrap to a new line if necessary */
}

div.left {
  flex: 1; /* Let the left div take all available space */
  display: flex; /* Display the text and button in a column */
  flex-direction: column;
  justify-content: center;
}

div.left p.main-text{
  font-size: 48px;
  font-weight: bolder;
  color: #F9FAF8;
  margin-bottom: 10px;
}

div.left p.secondary-text{
  font-size: 18px;
  color: #E5E7EB;
  padding-bottom: 15px;
  margin-bottom: 20px;
}

button.signup{
  background-color: #3c82f6;
  border: none;
  color: #ffffff;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 8px;
}

div.right{
  flex: 1; /* Let the right div take all available space */
  background-color: #6d747d;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.right p.secondary-text{
  font-size: 18px;
  color: #E5E7EB;
  text-align: center;
}



/* Section 2 styles */
div.section-two{
  min-height: 250px;
  text-align: center;
}

div.section-two p.information{
  font-size: 36px;
  font-weight: bolder;
  color: #1F2937;
  margin-bottom: 30px;
}

div.square-basket{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

div.square-bag{
  display: flex; /* Display the square and text in a column */
  flex-direction: column;
}

div.item div.square{
  height: 100px;
  width: 100px;
  border: #3882f6 solid;
  border-radius: 8px;
  border-width: 3px;
  margin-left: auto;
  margin-right: auto;
  
}

p.img-subtext{
  text-align: center;
}



/* Section 3 styles */
div.section-three{
  min-height: 250px;
  text-align: center;
}

div.section-three p.quote{
  font-size: 36px;
  font-weight: lighter;
  color: #1f2937;
  margin-bottom: 10px;
}

p.quote-author{
  text-align: right;
  font-weight: bolder;
}



/* Section 4 styles */
div.section-four{
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.prompt-box.container {
  flex-wrap: wrap; /* Allow the prompt box to wrap to a new line if necessary */
  background-color: #3882f6; 
  padding: 10px;
}

div.left-prompt.item,
div.right-prompt.item {
  flex: 1;
  text-align: center;
}

p.action-text {
  font-size: 24px;
  font-weight: bolder;
  color: #ffffff;
  margin-bottom: 10px;
}

p.sub-action-text {
  font-size: 18px;
  color: #dee3ec;
}

div.right-prompt.item button{
  border: 2px solid #ffffff;
}


/* Footer styles */
div.footer p{
  color: #ececee;
  text-align: center;
}